#mobile-header {
    border-bottom: 1px solid #1E2D3D;
}

#nav-link-mobile {
    border-bottom: 1px solid #1E2D3D;
    @apply text-menu-text font-fira_retina px-6 py-4 flex items-center;
}

#nav-link-mobile.active {
    color: white
}