#project {
    min-width: 400px;
    margin-bottom: 5px;
}

#project-card {
    border: 1px solid #1E2D3D;
    background-color: #011221;
    border-radius: 15px;
    max-width: 400px;
}

#window {
    max-height: 120px;
    position: relative;
    overflow: hidden;
}

#showcase {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (max-width: 768px) {
    #project {
        min-width: 100%;
    }
}

@media (min-width: 768px) {
    #project {
        width: 100%;
        min-width: 100%;
        padding-inline: 5px;
    }
}

@media (min-width: 1350px) {
    #project {
        width: 100%;
        min-width: 100%;
        padding-inline: 20px;
    }
}